*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.prodcut{
    text-align:center;
}
.prodcut .btn:hover{
    background-color: #FFACAC;
}
ul{
    list-style: none;
}
nav:hover{
    box-shadow: 1px 1px 200px 0px #FFACAC;
}
.item .card:hover{
   transform: scale(1.2,1.1);
   box-shadow: 1px 1px 100px -1px #FFACAC;
}